<md-card>
    <md-card-header>
        <div class="md-title" v-locale="localeKey + '.title'"></div>
    </md-card-header>

    <md-card-content>
        <md-list>
            <md-subheader v-locale="[localeKey + '.member_control', {count: membersCount}]"></md-subheader>
            
            <md-list-item>
                <md-button @click="claimToAll()" class="md-raised md-accent" :disabled="!members || !members.length">
                    <md-icon class="md-accent">cake</md-icon>
                    <span v-locale="localeKey + '.claim_to_all'"></span>
                </md-button>
            </md-list-item>
            
            <md-list-item>
                <md-field>
                    <label v-locale="localeKey + '.find_member_placeholder'"></label>
                    <md-input v-model="memberToFind" v-on:keyup="fetchMemberToFind()"></md-input>
                </md-field>
            </md-list-item>
            
            <md-list-item>
                <md-table>
                    <md-table-row>
                        <md-table-head><span v-locale="localeKey + '.address_title'"></span></md-table-head>
                        <md-table-head><span v-locale="localeKey + '.tariff_title'"></span></md-table-head>
                        <md-table-head><span v-locale="localeKey + '.total_amount'"></span></md-table-head>
                        <md-table-head></md-table-head>
                    </md-table-row>

                    <md-table-row v-for="(member, index) in filteredMembers" v-if="index < showCount || showAll">
                        <md-table-cell><hex-cut :hex="member.address"></hex-cut></md-table-cell>
                        <md-table-cell>{{member.tariffTitle}}</md-table-cell>
                        <md-table-cell>{{member.claimed}}</md-table-cell>
                        <md-table-cell class="controls">
                            <div style="width: 120px;">
                                <member-payout :address="member.address" :icon-mode="true" v-on:claim-finish="getAllMembers()"></member-payout>
                            
                                <md-menu md-direction="bottom-start">
                                    <md-button md-menu-trigger class="md-icon-button md-raised md-accent" style="margin-left: 15px;"><md-icon>menu</md-icon></md-button>

                                    <md-menu-content>
                                        <md-menu-item @click="editMember(member)">
                                            <md-icon>edit</md-icon>
                                            <span v-locale="localeKey + '.tariff_edit'"></span>
                                        </md-menu-item>
                                        <md-menu-item @click="kickMember(member)">
                                            <md-icon>close</md-icon>
                                            <span v-locale="localeKey + '.kick'"></span>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>
                        </md-table-cell>
                    </md-table-row>
                </md-table>
            </md-list-item>
            
            <md-list-item v-if="!loaded">
                <md-progress-bar style="height: 4px; width: 100%;" class="md-accent" md-mode="indeterminate"></md-progress-bar>
            </md-list-item>

            <md-list-item v-if="loaded && filteredMembers.length > showCount && !memberNotFound">
                <md-button @click="showCount += countPerShow">
                    <md-icon class="md-accent">keyboard_arrow_down</md-icon>
                    <span v-locale="[localeKey + '.show_more', {value: filteredMembers.length - showCount}]"></span>
                </md-button>
            </md-list-item>

            <md-list-item v-if="loaded && showCount >= filteredMembers.length && !memberNotFound && filteredMembers.length > countPerShow">
                <md-button @click="showCount = countPerShow">
                    <md-icon class="md-accent">keyboard_arrow_up</md-icon>
                    <span v-locale="[localeKey + '.show_less']"></span>
                </md-button>
            </md-list-item>

            <md-list-item v-if="memberNotFound">
                <span v-locale="localeKey + '.not_found'"></span>
            </md-list-item>

            <md-list-item>
                <md-button @click="addMember()">
                    <md-icon class="md-accent">add</md-icon>
                    <span v-locale="localeKey + '.add_member_button'"></span>
                </md-button>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
