<!--
  ~ Copyright ©️ 2018 Galt•Project Society Construction and Terraforming Company
  ~ (Founded by [Nikolai Popeka](https://github.com/npopeka)
  ~
  ~ Copyright ©️ 2018 Galt•Core Blockchain Company
  ~ (Founded by [Nikolai Popeka](https://github.com/npopeka) by
  ~ [Basic Agreement](ipfs/QmaCiXUmSrP16Gz8Jdzq6AJESY1EAANmmwha15uR3c1bsS)).
  -->

<span>
    <router-link v-if="to" :to="to">{{hexCut}}</router-link><span v-if="!to" :to="to">{{hexCut}}</span> <a href @click.prevent.stop="copyToClipboard()"><md-icon class="small-icon">assignment</md-icon></a>
</span>
