<modal-item>
  <template slot="header">
    <md-button class="md-icon-button close" @click="cancel">
      <md-icon>clear</md-icon>
    </md-button>
    <h4>
      <div class="modal-title" v-locale="localeKey + '.title'"></div>
    </h4>
  </template>

  <div class="modal-body" slot="body">
    <div class="form-group fixed-table-container">
      <md-field>
        <label v-locale="localeKey + '.title_field'"></label>
        <md-input v-model="editTariff.title" required :disabled="saving"></md-input>
      </md-field>

      <div class="md-layout md-gutter">
        <div class="md-layout-item">
          <md-field>
            <label v-locale="localeKey + '.payment_period.value'"></label>
            <md-input v-model="editTariff.paymentPeriod" required :disabled="saving"></md-input>
          </md-field>
        </div>

        <div class="md-layout-item">
          <md-field>
            <label v-locale="localeKey + '.payment_period.unit'"></label>
            
            <md-select v-model="editTariff.paymentPeriodUnit">
              <md-option :value="unit.value" v-for="unit in periodUnits">{{unit.name}}</md-option>
            </md-select>
          </md-field>
        </div>
      </div>
      
      
      <md-field>
        <label v-locale="localeKey + '.payment'"></label>
        <md-input v-model="editTariff.payment" required :disabled="saving"></md-input>
      </md-field>

      <md-autocomplete v-model="editTariff.currency" :md-options="currencies" @md-opened="getCurrencies" :disabled="saving"><!--@md-changed="getCountries"-->
        <label v-locale="localeKey + '.currency'"></label>

        <template slot="md-autocomplete-item" slot-scope="{ item }">{{ item.name || '...' }}&nbsp;&nbsp;<small v-if="item.address">({{ item.address }})</small></template>
      </md-autocomplete>
      
      <md-progress-bar class="md-accent" md-mode="indeterminate" v-if="saving"></md-progress-bar>
      <div class="warn" v-if="saving" v-locale="'transaction_in_process'"></div>
    </div>
  </div>

  <template slot="footer">
    <md-button @click="cancel" class="md-raised"><span v-locale="localeKey + '.cancel'"></span></md-button>
    <md-button @click="ok" class="md-raised md-accent" :disabled="saveDisabled"><span v-locale="localeKey + '.ok'"></span></md-button>
  </template>
</modal-item>
