<!--
  ~ Copyright ©️ 2018 Galt•Project Society Construction and Terraforming Company
  ~ (Founded by [Nikolai Popeka](https://github.com/npopeka)
  ~
  ~ Copyright ©️ 2018 Galt•Core Blockchain Company
  ~ (Founded by [Nikolai Popeka](https://github.com/npopeka) by
  ~ [Basic Agreement](ipfs/QmaCiXUmSrP16Gz8Jdzq6AJESY1EAANmmwha15uR3c1bsS)).
  -->

<md-card>
    <md-card-header>
        <div class="md-title" v-locale="localeKey + '.title'"></div>
    </md-card-header>

    <md-card-content>
        <md-list>
            
            <md-list-item>
                <md-table>
                    <md-table-row>
                        <md-table-head><span v-locale="localeKey + '.title_title'"></span></md-table-head>
                        <md-table-head><span v-locale="localeKey + '.payment_title'"></span></md-table-head>
                        <md-table-head><span v-locale="localeKey + '.payment_sent_title'"></span></md-table-head>
                        <md-table-head><span v-locale="localeKey + '.currency_title'"></span></md-table-head>
                        <md-table-head><span v-locale="localeKey + '.period_title'"></span></md-table-head>
                        <md-table-head><span v-locale="localeKey + '.active_title'"></span></md-table-head>
                        <md-table-head></md-table-head>
                    </md-table-row>

                    <md-table-row v-for="tariff in tariffs">
                        <md-table-cell>{{tariff.title}}</md-table-cell>
                        <md-table-cell>{{tariff.payment}}</md-table-cell>
                        <md-table-cell>{{tariff.paymentSent}}</md-table-cell>
                        <md-table-cell><span v-locale="'currency.' + tariff.currencyName"></span></md-table-cell>
                        <md-table-cell>{{tariff.paymentPeriod | beautyPeriod}}</md-table-cell>
                        <md-table-cell><span v-locale="'boolean.' + tariff.active"></span></md-table-cell>
                        <md-table-cell class="controls">
                            <div style="width: 120px;" v-if="is_rate_manager">
                                <md-button class="md-icon-button" @click="editTariff(tariff)">
                                    <md-icon class="md-accent">edit</md-icon>
                                </md-button>
                                <md-button class="md-icon-button" @click="deactivateTariff(tariff)" v-if="tariff.active">
                                    <md-icon class="md-accent">clear</md-icon>
                                </md-button>
                                <md-button class="md-icon-button" @click="activateTariff(tariff)" v-if="!tariff.active">
                                    <md-icon class="md-accent">done</md-icon>
                                </md-button>
                            </div>
                        </md-table-cell>
                    </md-table-row>
                </md-table>
            </md-list-item>
            
            <md-list-item v-if="is_rate_manager">
                <md-button @click="addTariff()">
                    <md-icon class="md-accent">add</md-icon>
                    <span v-locale="localeKey + '.add_tariff_button'"></span>
                </md-button>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
