<!--
  ~ Copyright ©️ 2018 Galt•Project Society Construction and Terraforming Company
  ~ (Founded by [Nikolai Popeka](https://github.com/npopeka)
  ~
  ~ Copyright ©️ 2018 Galt•Core Blockchain Company
  ~ (Founded by [Nikolai Popeka](https://github.com/npopeka) by
  ~ [Basic Agreement](ipfs/QmaCiXUmSrP16Gz8Jdzq6AJESY1EAANmmwha15uR3c1bsS)).
  -->

<modal-item>
  <template slot="header">
    <md-button class="md-icon-button close" @click="close">
      <md-icon>clear</md-icon>
    </md-button>
    <h4>
      <div class="modal-title">Миграция балансов</div>
    </h4>
  </template>

  <div class="modal-body" slot="body">
    <div class="form-group">

      <label>CSV содержимое</label>

      <md-field class="md-has-textarea">
        <md-textarea v-model="csvContent" :md-disabled="state !== 'input' || sending" style="color:white;    font-size: 12px;"></md-textarea>
      </md-field>
    </div>

    <div class="warn" v-if="incorrectAddresses.length">
      Некорректные адреса, будут проигнорированы:
      <div v-for="item in incorrectAddresses">
        <div v-if="item.old">Old: {{item.old}}</div>
        <div v-if="item.new">New: {{item.new}}</div>
      </div>
    </div>

    <md-progress-bar class="md-accent" md-mode="indeterminate" v-if="checkingGas || sending"></md-progress-bar>
  </div>

  <template slot="footer">
    <md-button @click="close" class="md-raised">Закрыть</md-button>
    <md-button @click="migrateBalances" class="md-raised md-accent" :disabled="!addressesToMigrate.length || state !== 'input' || sending">Мигрировать YAL балансы({{addressesToMigrate.length}})</md-button>
    <md-button @click="addToGasTariff" class="md-raised md-accent" :disabled="!addressesToMigrate.length || state !== 'migrated' || checkingGas || sending">Добавить в GAS тариф</md-button>
  </template>
</modal-item>
