<md-card>
    <md-card-header>
        <div class="md-title" v-locale="localeKey + '.title'"></div>
    </md-card-header>

    <md-card-content>
        <md-list>
            <md-subheader v-locale="localeKey + '.general_data'"></md-subheader>
            
            <md-list-item>
                <span class="md-list-item-text row-direction">
                    <span v-locale="localeKey + '.total_supply'"></span> <span>{{totalSupply | beautyNumber}} COIN</span>
                </span>
            </md-list-item>
            
            <md-list-item>
                <span class="md-list-item-text row-direction">
                    <span v-locale="localeKey + '.city_balance'"></span> <span>{{cityBalance | beautyNumber}} COIN</span>
                </span>
            </md-list-item>

            <md-list-item class="right-button-container">
                <span class="md-list-item-text text-row">
                    <span v-locale="localeKey + '.transfer_fee'"></span> 
                    <span>{{transferFee}}%</span>
                </span>
                <md-button class="md-icon-button md-list-action md-raised" @click="editFee()">
                    <md-icon class="md-accent">edit</md-icon>
                </md-button>
            </md-list-item>

            <md-list-item class="right-button-container">
                <span class="md-list-item-text text-row">
                    <span v-locale="localeKey + '.fee_payout'"></span> 
                    <span>{{feePayout | beautyNumber}} COIN</span>
                </span>
                <md-button class="md-icon-button md-list-action md-raised" v-if="feePayout" @click="withdrawFee()">
                    <md-icon class="md-accent">cake</md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
