name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v1
    - name: Install Solidity compiler
      run: |
        wget https://github.com/ethereum/solidity/releases/download/v0.5.17/solc-static-linux
        chmod ugo+x solc-static-linux
        sudo mv solc-static-linux /usr/bin/solc
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - uses: actions/cache@v1
      with:
        path: ~/.npm
        key: tests-node-${{ hashFiles('**/package-lock.json') }}
    - name: Run tests
      run: |
        npm install
        make lint && make compile && npm run test
  coverage:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: Install Solidity compiler
        run: |
          wget https://github.com/ethereum/solidity/releases/download/v0.5.17/solc-static-linux
          chmod ugo+x solc-static-linux
          sudo mv solc-static-linux /usr/bin/solc
      - uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - uses: actions/cache@v1
        with:
          path: ~/.npm
          key: coverage-node-${{ hashFiles('**/package-lock.json') }}
      - name: Run tests
        run: |
          npm install
          make coverage
