<!--
  ~ Copyright ©️ 2018 Galt•Project Society Construction and Terraforming Company
  ~ (Founded by [Nikolai Popeka](https://github.com/npopeka)
  ~
  ~ Copyright ©️ 2018 Galt•Core Blockchain Company
  ~ (Founded by [Nikolai Popeka](https://github.com/npopeka) by
  ~ [Basic Agreement](ipfs/QmaCiXUmSrP16Gz8Jdzq6AJESY1EAANmmwha15uR3c1bsS)).
  -->

<div id="admin-page" style="height: 100%;" xmlns:v-on="">
    <md-app-content class="padding">
        <div class="md-title" style="margin-bottom: 10px;" v-locale="localeKey + '.title'"></div>

        <div class="md-layout">
            <div class="md-layout-item md-size-40 md-xsmall-size-100">
                <general-info v-if="user_wallet" :user-wallet="user_wallet"></general-info>
            </div>
            <div class="md-layout-item md-size-50 md-xsmall-size-100" v-if="memberInfo">
                <tariff-info v-for="tariffId in memberInfo.tariffs" :user-wallet="user_wallet" :tariff-id="tariffId"></tariff-info>
            </div>
        </div>

    </md-app-content>
</div>
